@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;

.social-icon {
    @apply mx-6 text-4xl text-gray-700;
}

.tagline {
    letter-spacing: 0.008em;
}

.project-card {
    height: calc(width);
    @apply flex items-center justify-center w-full border-pink-200 border-solid border-2 shadow-md mb-8;
}

.card-title {
    @apply text-2xl font-semibold mx-4;
}

.place-content-center {
    place-content: center;
}

/* Class for making project card height equal to the width of the card  */
.height-eq-width {
    height: calc(width);
}

@tailwind utilities;