/* purgecss start ignore */
@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;

.tech-icon {
    width: 33%;
    @apply text-6xl my-8 flex justify-center items-center;
}

.social-link:hover, .social-link:focus {
    transform: scale(1.2);
    transition-duration: 0.25s;
    @apply text-blue-300;
}

/* Target medium sized screens */
@screen md {
    /* Animate the nav bar links */
    .home-link:after, .nav-link a:after {
        display: block;
        content: '';
        transform: scaleX(0);
        transition: transform 0.5s ease;
        @apply border-blue-600 border-b-2 border-solid;
    }

    .nav-link a:after {
        @apply border-gray-600;
    }
    
    .home-link:hover:after, .nav-link a:hover:after {
        transform: scaleX(1);
    }
}

/* purgecss end ignore */
@tailwind utilities;